.root {
    -fx-background-image: url(../img/bg.jpg);
    -fx-background-size: cover;
}



.title {
    -fx-font-size: 30;
    -fx-text-fill: #8668a4;
}
.borderImg{
    -fx-border-radius: 50;
}

.btn {
    -fx-min-width: 100;
    -fx-min-height: 40;
    -fx-background-color: #b2dfdb;
    -fx-text-fill: #fafafa;
    -fx-font-size: 16;
}