/* 控制栏 */
#bar {
    -fx-background-color: #28282c;
    -fx-background-radius: 2px;
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

/* 头像 */
#barPortrait, #barPortrait:hover, #barPortrait:pressed {
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px;
    -fx-background-color: #f6f6f6;
    -fx-background-image: url("https://cdn.jsdelivr.net/gh/ycshang123/image-hosting@master/me.583hffnfvkw0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: white;
}


.bar {
    -fx-background-radius: 2px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}


.groupBarChat {
    -fx-background-color: linear-gradient(to top, #ffffff, #ffffff);
}

.groupBarFriend {
    -fx-background-color: linear-gradient(to top,#99ccff, #e0f7fa);
}

.groupBarLocation {
    -fx-background-color: linear-gradient(to right, #80cbc4, #e0f2f1);
}

.groupBarSet {
    -fx-background-color: linear-gradient(to top, #006699, #e1f5fe);
}